* {
  margin: 0;
  padding: 20;
  box-sizing: content-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.app {
  background-image: url("./design/cold.jpeg");
  background-size: cover;
  /* background-position: top; */
  transition: 0.8 ease;
}
.app.warm {
  background-image: url("./design/warm.jpeg");
}
main {
  min-height: 100vh;
  min-width: 50vh;

  padding: 60px;
}

.search_bar {
  text-align: center;
  width: 70px;
  margin: 0;
}

.search_react .search_bar {
  display: block;
  width: 99%;
  padding: 10px;

  appearance: none;

  border: none;

  border-radius: 1px 2px 18px 13px;
  margin-top: -25px;

  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-variant: small-caps;

  transition: 0.7s ease;
}

.location_react .location {
  padding: 10px;
  color: aliceblue;
  font-size: 29px;
  font-weight: 800;
  text-align: center;
}

.location_react .date {
  color: azure;
  padding: 5px;
  font-size: 30px;
  font-weight: 600;
  font-style: inherit;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.weather_react {
  text-align: center;
}

.weather_react .temp {
  position: static;
  display: inline-block;
  margin: 30px auto;

  background-color: azure;
  border-radius: 16px;

  padding: 15px 25px;

  color: blue;
  font-size: 140px;
  font-weight: 750;

  text-shadow: 7px 1px rgba(50, 50, 70, 0.5);
  text-align: center;
}

.weather_react .weather {
  color: antiquewhite;
  font-size: 62px;
  font-weight: 600;
}
.date1 {
  font-size: 25px;
  margin-left: 25px;
}
.home_page {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}
.Currentinfo {
  display: flex;
  background-color: darkgrey;
  justify-content: space-between;
  background: rgba (24, 24, 27, 0.6);
  padding: 25px;
  /* border-radius: 12px; */
  /* margin: 10px 0; */
  border: 2px snow;
  text-align: end;
  font-size: 15px;
  font-weight: 500;
}
